:root {
  --p1-color: #D91A3D;
  --p2-color: #FFC60B;
  --p3-color: #F29727;
  --white-color: #EEEFEF;
  --black-color: #0D0D0D;
  --light-shade-white-color: #C9C8C8;
  --white-2-color: #FFFFFF;
  --bg-color: var(--white-color);
  --small-text-font-size: 2vh;
  --normal-text-font-size: 2.7vh;
  --header-font-size: 4vh;
  --big-font-size: 7vh;
  --font-family: "Montserrat", system-ui;
  --style-font-family:"Sankofa Display", sans-serif;
  --text-weight: 400;
  --black-weight: 900;
  --bold-weight: 700;
}

@keyframes move-ltr {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes move-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

img, svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black-color);
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-size: var(--normal-text-font-size);
  font-weight: var(--text-weight);
  text-decoration: none;
}

body {
  width: 100%;
  background: var(--bg-color);
  overflow-x: hidden !important;
}
body .loading-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
body .loading-screen .loading-object {
  width: 15vh;
  height: 15vh;
  padding: 2vh;
  border-radius: 100%;
}
body .loading-screen .loading-object img {
  border-radius: 100%;
  animation: rotate360 1s ease infinite;
}
body #everything {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
body .navbar {
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background: var(--bg-color);
  border-bottom: 0.3vh solid var(--light-shade-white-color);
}
body .navbar .logo {
  cursor: pointer;
  background: none !important;
  padding: 0 !important;
  border: none !important;
  width: 5vh;
  height: 5vh;
  margin: 1vh;
  margin-left: 2vh;
  border-radius: 100%;
  overflow: hidden;
}
body .navbar .nav-options {
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
  height: 100%;
}
body .navbar .nav-options .nav-option {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vh;
  font-size: var(--small-text-font-size);
  border-right: 0.3vh solid var(--light-shade-white-color);
}
body .navbar .nav-options .nav-option:first-child {
  border-left: 0.3vh solid var(--light-shade-white-color);
}
body .navbar .nav-options .nav-option:last-child {
  padding-right: 2vh !important;
}
body .hero-page {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .hero-page .welcome-card {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0d0d0d 0.2vh, transparent 0.2vh), linear-gradient(to right, #0d0d0d 0.2vh, transparent 0.2vh);
  background-size: 10vh 10vh;
  background-color: var(--white-color);
}
body .hero-page .welcome-card .graphics {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 10vh;
}
body .hero-page .welcome-card .graphics .slogan {
  position: absolute;
  top: 50%;
  left: 20vh;
  transform: translateY(-50%);
  font-size: var(--big-font-size);
  z-index: 2;
  padding: 2vh;
}
body .hero-page .welcome-card .graphics .slogan span {
  font-size: var(--big-font-size);
  color: var(--p1-color);
}
body .hero-page .welcome-card .graphics .slogan img {
  width: calc(var(--big-font-size) + 2vh);
  height: var(--big-font-size);
}
body .hero-page .welcome-card .graphics .gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to top, var(--white-color), var(--white-color), transparent);
}
body .hero-page .welcome-card .graphics .name {
  position: absolute;
  right: 20vh;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  text-align: end;
  display: flex;
  flex-direction: column;
}
body .hero-page .welcome-card .graphics .name .first-name {
  color: var(--p1-color);
}
body .hero-page .welcome-card .graphics .name div {
  font-size: var(--big-font-size);
  font-weight: var(--black-weight);
}
body .hero-page .welcome-card .graphics .name span {
  font-size: var(--big-font-size);
  font-weight: var(--black-weight);
  color: var(--p1-color);
}
body .hero-page .welcome-card .graphics .avatar {
  z-index: 2;
  width: 70vh;
  height: 70vh;
}
body .hero-page .welcome-card .graphics .mountain {
  position: absolute;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  z-index: 0;
  left: 0;
  filter: saturate(0);
}
body .marquee {
  width: 100%;
  flex-direction: row;
  display: flex;
  border: 0.3vh solid var(--light-shade-white-color);
  border-right: none;
  border-left: none;
  overflow-x: hidden;
}
body .marquee .text {
  padding: 2vh 0;
  animation: 5s move-ltr linear infinite;
  white-space: nowrap;
  font-size: var(--small-text-font-size);
}
body .about-page {
  display: flex;
  width: 100%;
  height: 70vh;
  background: var(--p1-color);
  overflow: hidden;
  border-bottom: 0.3vh solid var(--light-shade-white-color);
}
body .about-page .scrollable {
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
  gap: 25vh;
  min-width: 100%;
  height: 100%;
  overflow-X: scroll;
  overflow-y: hidden;
}
body .about-page .hero-section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4vh;
}
body .about-page .hero-section .scroll-text {
  font-size: var(--big-font-size);
  opacity: 10%;
}
body .about-page .hero-section .skill-section {
  display: flex;
  gap: 2vh;
  align-items: center;
  justify-content: center;
}
body .about-page .hero-section .skill-section .logo {
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  box-shadow: 0.3vh 0.3vh 0.5vh black;
}
body .about-page .hero-section .skill-section .skills {
  border-left: 0.3vh solid var(--white-color);
  padding-left: 2vh;
}
body .about-page .hero-section .skill-section .skills .skill {
  color: var(--white-color);
  font-weight: var(--bold-weight);
}
body .about-page .hero-section .intro-header {
  color: var(--white-2-color);
  font-size: var(--header-font-size);
  font-weight: var(--bold-weight);
  white-space: nowrap;
}
body .about-page .hero-section .intro-header img {
  width: calc(var(--header-font-size) + 4vh);
  height: calc(var(--header-font-size) + 4vh);
}
body .about-page .story {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 4vh;
}
body .about-page .story #audio {
  cursor: pointer;
  pointer-events: all;
}
body .about-page .story .image {
  width: 40vh;
  height: 40vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  pointer-events: none;
  font-weight: var(--bold-weight);
}
body .about-page .story .image img {
  filter: drop-shadow(1vh 1vh 1vh black);
}
body .about-page .story .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
body .about-page .story .text .small-text {
  color: var(--white-color);
  white-space: nowrap;
}
body .about-page .story .text .big-text {
  color: var(--white-color);
  font-size: var(--header-font-size);
  font-weight: var(--bold-weight);
  white-space: nowrap;
}
body .about-page .full-story {
  display: flex;
  flex-direction: column;
  padding: 4vh;
  gap: 2vh;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: var(--white-color);
}
body .about-page .full-story .subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}
body .about-page .full-story .subscription .text {
  white-space: nowrap;
}
body .about-page .full-story .subscription .sub-btn {
  border: 0.3vh solid var(--black-color);
  border-radius: 1vh;
  font-weight: var(--bold-weight);
  padding: 2vh 4vh;
  cursor: pointer;
  box-shadow: 0.3vh 0.3vh 0.3vh black;
}
body .about-page .full-story .divider {
  font-weight: var(--bold-weight);
  color: var(--p1-color);
  font-size: var(--header-font-size);
}
body .about-page .full-story .meet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
}
body .about-page .full-story .meet .meet-btn {
  width: 10vh;
  height: 7vh;
  cursor: pointer;
}
body .project-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .project-page .header {
  width: 100%;
}
body .project-page .header .marquee {
  padding: 1vh;
  width: 100%;
  border-top: 0.3vh solid var(--light-shade-white-color);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
body .project-page .header .marquee .text {
  font-size: var(--big-font-size);
  line-height: var(--big-font-size);
  font-weight: var(--black-weight);
  white-space: nowrap;
  padding: 0 1vh;
  animation: move-rtl 15s linear infinite;
}
body .project-page .projects {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
body .project-page .projects .collection {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vh;
}
body .project-page .projects .collection .collection-header {
  font-size: var(--small-text-font-size);
  font-weight: var(--bold-weight);
  color: var(--p3-color);
}
body .project-page .projects .collection:nth-child(2) .collection-header {
  color: var(--p1-color) !important;
}
body .project-page .projects .collection .body {
  width: 100%;
}
body .project-page .projects .collection .body .project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  padding: 2vh;
  border-bottom: 0.3vh solid var(--light-shade-white-color);
}
body .project-page .projects .collection .body .project:hover {
  background: var(--light-shade-white-color);
}
body .project-page .projects .collection .body .project .left-side {
  display: flex;
  gap: 2vh;
}
body .project-page .projects .collection .body .project .left-side .sn {
  line-height: var(--header-font-size);
}
body .project-page .projects .collection .body .project .context {
  display: flex;
  flex-direction: column;
}
body .project-page .projects .collection .body .project .context .name {
  font-size: var(--header-font-size);
  font-weight: var(--bold-weight);
  white-space: nowrap;
  text-transform: uppercase;
}
body .project-page .projects .collection .body .project .context .type {
  font-size: var(--small-text-font-size);
  font-weight: var(--bold-weight);
  text-transform: uppercase;
  white-space: nowrap;
}
body .project-page .projects .collection .body .project .context .date {
  white-space: nowrap;
  font-size: var(--small-text-font-size);
}
body .project-page .projects .collection .body .project .link {
  width: 5vh;
  height: 5vh;
}
body .contact-page {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(var(--light-shade-white-color) 0.2vh, transparent 0.2vh), linear-gradient(to right, var(--light-shade-white-color) 0.2vh, transparent 0.2vh);
  background-size: 20vh 20vh;
  background-color: var(--black-color);
  position: relative;
  z-index: 0;
}
body .contact-page .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, var(--black-color), transparent);
  z-index: -1;
}
body .contact-page .header {
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 2vh;
}
body .contact-page .header .text {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--black-color);
  font-size: var(--big-font-size);
  font-weight: var(--black-weight);
  color: var(--white-color);
  z-index: 1;
  margin-left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
body .contact-page .header .line {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-bottom: 0.3vh solid var(--white-color);
}
body .contact-page .social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50vh;
  align-self: center;
  margin-top: 5vh;
}
body .contact-page .social-links .social-link {
  text-transform: uppercase;
  color: var(--white-color);
}
body .contact-page .social-links .social-link:hover {
  opacity: 20%;
}
body .contact-page form {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2vh;
  padding: 2vh 0 10vh 0;
}
body .contact-page form input {
  background: var(--black-color);
  border: 0.3vh solid var(--light-shade-white-color);
  padding: 2vh;
  border-radius: 1vh;
  color: var(--white-color);
}
body .contact-page form textarea {
  background: var(--black-color);
  border: 0.3vh solid var(--light-shade-white-color);
  padding: 2vh;
  min-height: 30vh;
  resize: vertical;
  border-radius: 1vh;
  color: var(--white-color);
}
body .contact-page form button {
  width: 100%;
  cursor: pointer;
  background: var(--p1-color);
  padding: 2vh;
  font-size: var(--header-font-size);
  font-weight: var(--bold-weight);
  text-transform: uppercase;
  border-radius: 1vh;
  color: var(--white-color);
}
body .contact-page form button:hover {
  background: var(--p3-color);
}

@media (max-width: 1300px) {
  :root {
    --small-text-font-size: 1.7vh !important;
    --normal-text-font-size: 2.3vh !important;
    --header-font-size: 3.5vh !important;
    --big-font-size: 6.6vh !important;
  }
}
@media (max-width: 1300px) {
  .welcome-card .graphics .avatar {
    width: 60vh !important;
    height: 60vh !important;
  }
}
@media (max-width: 1160px) {
  :root {
    --normal-text-font-size: 2.2vh !important;
    --big-font-size: 6.3vh !important;
  }
}
@media (max-width: 1100px) {
  :root {
    --big-font-size: 6vh !important;
  }
  .welcome-card .graphics .slogan {
    left: 10vh !important;
  }
  .welcome-card .graphics .name {
    right: 10vh !important;
  }
  .about-page {
    height: 50vh !important;
  }
  .about-page .scrollable {
    gap: 15vh !important;
  }
  .about-page .scrollable .story .image {
    width: 25vh !important;
    height: 25vh !important;
  }
  .project-page .projects {
    grid-template-columns: 100% !important;
  }
  .project-page .projects .collection {
    gap: 0 !important;
  }
  .project-page .projects .collection:nth-child(2) {
    padding-top: 0 !important;
  }
}
@media (max-width: 1030px) {
  :root {
    --small-text-font-size: 1.7vh !important;
    --normal-text-font-size: 2vh !important;
    --header-font-size: 2.5vh !important;
    --big-font-size: 4vh !important;
  }
  .hero-page {
    height: 50vh !important;
  }
  .hero-page .graphics .slogan {
    left: 3vh !important;
  }
  .hero-page .graphics .name {
    right: 3vh !important;
  }
  .hero-page .graphics .avatar {
    width: 40vh !important;
    height: 40vh !important;
  }
}
@media (max-width: 700px) {
  :root {
    --big-font-size: 4vh !important;
  }
  .hero-page .slogan {
    transform: none !important;
    bottom: 0 !important;
  }
  .hero-page .name {
    top: 5vh !important;
    right: 50% !important;
    flex-direction: row !important;
    gap: 2vh;
  }
  .hero-page .gradient-overlay {
    background: linear-gradient(to top, var(--white-color), transparent) !important;
  }
  .hero-page .avatar {
    width: 50vh !important;
    height: 50vh !important;
    z-index: -1 !important;
  }
  .about-page {
    height: 40vh !important;
  }
  .about-page .scrollable {
    gap: 5vh !important;
  }
  .about-page .scrollable .story .image {
    width: 20vh !important;
    height: 20vh !important;
  }
  .project-page .header {
    padding: 0 !important;
  }
  .contact-page .social-links {
    width: 40vh !important;
  }
  .contact-page form {
    width: 40vh !important;
  }
}
@media (max-width: 360px) {
  :root {
    --big-font-size: 3vh !important;
    --normal-text-font-size: 1.5vh !important;
    --header-text-font-size: 1.7vh !important;
    --small-text-font-size: 1.3vh !important;
  }
  .contact-page .social-links {
    width: 30vh !important;
  }
  .contact-page form {
    width: 30vh !important;
  }
}/*# sourceMappingURL=index.css.map */