:root{
    --p1-color: #D91A3D;
    --p2-color: #FFC60B;
    --p3-color: #F29727;
    --white-color: #EEEFEF;
    --black-color: #0D0D0D;
    --light-shade-white-color: #C9C8C8;
    --white-2-color: #FFFFFF;
    
    --bg-color: var(--white-color);

    --small-text-font-size: 2vh;
    --normal-text-font-size: 2.7vh;
    --header-font-size: 4vh;
    --big-font-size: 7vh;
    --font-family: 'Montserrat', system-ui;
    --style-font-family:"Sankofa Display", sans-serif;
    --text-weight: 400;
    --black-weight: 900;
    --bold-weight: 700;
}

//   infinite marquee animation 
@keyframes move-ltr {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
//   infinite marquee animation 
@keyframes move-rtl {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

//rotate 360 degree
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html{
    scroll-behavior: smooth;
}

img, svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black-color);
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: var(--normal-text-font-size);
    font-weight: var(--text-weight);
    text-decoration: none;
}

body{
    width: 100%;
    background: var(--bg-color);
    overflow-x: hidden !important;
    .loading-screen{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        .loading-object{
            width: 15vh;
            height: 15vh;
            padding: 2vh;
            border-radius: 100%;
            img{
                border-radius: 100%;
                animation: rotate360 1s ease infinite;
            }
        }

    }

    #everything{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navbar{
        width: 100%;
        position: sticky;
        z-index: 2;
        top: 0;;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7vh;
        background: var(--bg-color);
        border-bottom: .3vh solid var(--light-shade-white-color);
        .logo{
            cursor: pointer;
            background: none !important;
            padding: 0 !important;
            border: none !important;
            width: 5vh;
            height: 5vh;
            margin: 1vh;
            margin-left: 2vh;
            border-radius: 100%;
            overflow: hidden;
        }
        .nav-options{
            display: flex;
            align-items: center;
            padding: 0 !important;
            margin: 0 !important;
            justify-content: center;
            height: 100%;
            .nav-option{
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1vh 2vh;
                font-size: var(--small-text-font-size);
                border-right: .3vh solid var(--light-shade-white-color);
                &:first-child{
                    border-left: .3vh solid var(--light-shade-white-color);
                }
                &:last-child{
                    padding-right: 2vh !important;
                }
            }
        }
    }
    //hero page - the landing page
    .hero-page{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        //Welcome Card
        .welcome-card{
            width: 100%;
            height: 90%;
            background-image: linear-gradient(#0d0d0d .2vh, transparent .2vh), linear-gradient(to right, #0d0d0d .2vh, transparent .2vh);
            background-size: 10vh 10vh;
            background-color: var(--white-color);
            .graphics{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                perspective: 10vh;
                .slogan{
                    position: absolute;
                    top: 50%;
                    left: 20vh;
                    transform: translateY(-50%);
                    font-size: var(--big-font-size);
                    z-index: 2;
                    padding: 2vh;
                    img{
                        width: calc(var(--big-font-size) + 2vh);
                        height: var(--big-font-size);
                    }
                }
                .gradient-overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background: linear-gradient(to top, var(--white-color), var(--white-color),transparent);
                }
                .name{
                    position: absolute;
                    right: 20vh;
                    top: 50%;
                    z-index: 2;
                    transform: translateY(-50%);
                    text-align: end;
                    display: flex;
                    flex-direction: column;
                    .first-name{
                        color: var(--p1-color);
                    }
                    div{
                        font-size: var(--big-font-size);
                        font-weight: var(--black-weight);
                    }
                    span{
                        font-size: var(--big-font-size);
                        font-weight: var(--black-weight);
                        color: var(--p1-color);
                    }
                }
                .avatar{
                    z-index: 2;
                    width: 70vh;
                    height: 70vh;
                }
                .mountain{
                    position: absolute;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    bottom: 0;
                    z-index: 0;
                    left: 0;
                    filter: saturate(0);
                }
            }
        }   
    }
    .marquee{
        width: 100%;
        flex-direction: row;
        display: flex;
        border: .3vh solid var(--light-shade-white-color);
        border-right: none;
        border-left: none;
        overflow-x: hidden;
        .text{
            padding: 2vh 0;
            animation: 5s move-ltr linear infinite;
            white-space: nowrap;
            font-size: var(--small-text-font-size);
        }
    }
    .about-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 4vh;
        background: var(--black-color);
        position: relative;
        border-bottom: .3vh solid var(--light-shade-white-color);
        .about-section{
            font-size: var(--big-font-size);
            text-align: justify;
            z-index: 1;
            color: var(--white-color);
            span{
                font-size: var(--big-font-size);
                font-weight: var(--bold-weight);
                background: var(--white-color);
            }
        }
        .skill-section{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            flex-direction: column;
            z-index: 1;
            .header{
                font-size: var(--big-font-size);
                font-style: italic;
                text-decoration: .3vh underline;
                font-weight: var(--bold-weight);
                margin: 2vh 0;
                color: var(--white-color);
            }
            .skills{
                display: flex;
                list-style-type: none;
                flex-direction: column;
                width: 100%;
                .skill{
                    width: fit-content;
                    color: var(--white-color);
                    border-bottom: .3vh solid var(--p1-color);
                    font-size: var(--big-font-size);
                    span{
                        font-size: var(--big-font-size);
                        font-weight: var(--bold-weight);
                        color: var(--white-color);
                        background: var(--p1-color);
                    }
                }
            }
        }
    }
    .project-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        .header{
            width: 100%;
            padding-bottom: 2vh;
            border-bottom: .3vh solid var(--light-shade-white-color);
            .marquee{
                padding: 1vh;
                width: 100%;
                border-top: .5vh solid var(--s1-color);
                border-bottom: .5vh solid var(--s1-color);
                display: flex;
                justify-content: flex-end;
                overflow: hidden;
                .text{
                    font-size: var(--big-font-size);
                    line-height: var(--big-font-size);
                    font-weight: var(--black-weight);
                    white-space: nowrap;
                    padding: 0 1vh;
                    animation: move-rtl 15s linear infinite;
                }
            }
        }
        .projects{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            .collection{
                display: flex;
                flex-direction: column;
                gap: 2vh;
                padding: 2vh;
                .collection-header{
                    font-size: var(--small-text-font-size);
                    font-weight: var(--bold-weight);
                    color: var(--p3-color);
                }
                &:nth-child(2){
                    .collection-header{
                        color: var(--p1-color) !important;
                    }
                }
                .body{
                    width: 100%;
                    .project{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2vh;
                        padding: 2vh;
                        border-bottom: .3vh solid var(--light-shade-white-color);
                        &:hover{
                            background: var(--light-shade-white-color);
                        }
                        .left-side{
                            display: flex;
                            gap: 2vh;
                            .sn{
                                line-height: var(--header-font-size);
                            }
                        }
                        .context{
                            display: flex;
                            flex-direction: column;
                            .name{
                                font-size: var(--header-font-size);
                                font-weight: var(--bold-weight);
                                white-space: nowrap;
                                text-transform: uppercase;
                            }
                            .type{
                                font-size: var(--small-text-font-size);
                                font-weight: var(--bold-weight);
                                text-transform: uppercase;
                                white-space: nowrap;
                            }
                            .date{
                                white-space: nowrap;
                                font-size: var(--small-text-font-size);
                            }
                        }
                        .link{
                            width: 5vh;
                            height: 5vh;
                        }
                    }
                }
            }
        }
    }
    .contact-page{
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(var(--light-shade-white-color) .2vh, transparent .2vh), linear-gradient(to right, var(--light-shade-white-color) .2vh, transparent .2vh);
        background-size: 20vh 20vh;
        background-color:var(--black-color);
        position: relative;
        z-index: 0;
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            pointer-events: none;
            background: linear-gradient(to bottom, var(--black-color),transparent);
            z-index: -1;
        }
        .header{
            width: 100%;
            position: relative;
            z-index: 0;
            padding: 2vh;
            .text{
                width: fit-content;
                background: var(--black-color);
                font-size: var(--big-font-size);
                font-weight: var(--black-weight);
                color: var(--white-color);
                z-index: 1;
                margin-left: 50%;
                transform: translateX(-50%);
                white-space:nowrap;
            }
            .line{
                content: '';
                z-index: -1;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                border-bottom: .3vh solid var(--white-color);
            }
        }
        .social-links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 50vh;
            align-self: center;
            margin-top: 5vh;
            .social-link{
                text-transform: uppercase;
                color: var(--white-color);
                &:hover{
                    opacity: 20%;
                }
            }
        }
        form{
            width: 50vh;
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 2vh;
            padding: 2vh 0 10vh 0;
            input{
                background: var(--black-color);
                border: .3vh solid var(--light-shade-white-color);
                padding: 2vh;
                border-radius: 1vh;
                color: var(--white-color);
            }
            textarea{
                background: var(--black-color);
                border: .3vh solid var(--light-shade-white-color);
                padding: 2vh;
                min-height: 30vh;
                resize: vertical;
                border-radius: 1vh;
                color: var(--white-color);
            }
            button{
                width: 100%;
                cursor: pointer;
                background: var(--p1-color);
                padding: 2vh;
                font-size: var(--header-font-size);
                font-weight: var(--bold-weight);
                text-transform: uppercase;
                border-radius: 1vh;
                color: var(--white-color);
                &:hover{
                    background: var(--p3-color);
                }
            }
        }
    }
}

//Responsive Designs

@media (max-width:1300px) {
    :root{
    --small-text-font-size: 1.7vh !important;
    --normal-text-font-size: 2.3vh !important;
    --header-font-size: 3.5vh !important;
    --big-font-size: 6.6vh !important;
    }
}


@media (max-width:1300px) {
    .welcome-card{
        .graphics{
            .avatar{
                width: 60vh !important;
                height: 60vh !important;
            }
        }
    }
}


@media (max-width:1160px) {
    :root{
        --normal-text-font-size: 2.2vh !important;
        --big-font-size: 6.3vh !important;
    }
}

@media (max-width:1100px) {
    :root{
        --big-font-size: 6vh !important;
    }
    .welcome-card{
        .graphics{
            .slogan{
                left: 10vh !important;
            }
            .name{
                right: 10vh !important;
            }
        }
    }
    .project-page{
        .projects{
            grid-template-columns: 100% !important;
            .collection{
                gap: 0 !important;
                &:nth-child(2){
                    padding-top: 0 !important;
                }
            }
        }
    }
}


@media (max-width:1030px) {
    :root{
        --small-text-font-size: 1.7vh !important;
        --normal-text-font-size: 2vh !important;
        --header-font-size: 2.5vh !important;
        --big-font-size: 4vh !important;
    }
    .hero-page{
        height: 50vh !important;
        .graphics{
            .slogan{
                left: 3vh !important;
            }
            .name{
                right: 3vh !important;
            }
            .avatar{
                width: 40vh !important;
                height: 40vh !important;
            }
        }
    }
}

//Smaller Screens (Mobile)

@media (max-width:700px) {
    :root{
        --big-font-size: 4vh !important;
    }
    .hero-page{
        .slogan{
            transform: none !important;
            bottom: 0 !important;
        }
        .name{
            top: 5vh !important;
            right: 50% !important;
            flex-direction: row !important;
            gap: 2vh;
        }
        .gradient-overlay{
            background: linear-gradient(to top,var(--white-color),transparent) !important;
        }
        .avatar{
            width: 50vh !important;
            height: 50vh !important;
            z-index: -1 !important;
        }
    }
    .about-page{
        padding: 1vh !important;
    }
    .project-page{
        .header{
            padding: 0 !important;
        }
    }
    .contact-page{
        .social-links{
            width: 40vh !important;
        }
        form{
            width: 40vh !important;
        }
    }
}

@media (max-width: 360px) {
    :root{
        --big-font-size: 3vh !important;
        --normal-text-font-size: 1.5vh !important;
        --header-text-font-size: 1.7vh !important;
        --small-text-font-size: 1.3vh !important;
    }
    .contact-page{
        .social-links{
            width: 30vh !important;
        }
        form{
            width: 30vh !important;
        }
    }
}